@{
    ViewBag.Title = "Success";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div>

        <h1>Success</h1>
        <p>Thank you for your submission.</p>
        <p>Return to <a href="~/Review/Index">Index</a>.</p>
    </div>
</body>
</html>

