@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Empanada Review</h1>
    <p class="lead">
        Empanadas Review is a web application that allows you to review your
        favorite empanadas from an specific restaurant! You can add your own empanadas to the database,
        and then view them all.
    </p>
</div>
