@{
    ViewBag.Title = "Home Page";
}

<div class="home-container">
    <div class="home-title">
        <h1 class="home-title-text">Empanada Review</h1>
    </div>
    <div class="home-welcome">
        <h5 class="home-welcome-text">@ViewBag.Message</h5>
        @if ((string)Session["role"] == "admin") {
            <p class="home-lead-text">You're an admin.</p>
        }
    </div>
    <div class="home-lead">
        <p class="home-lead-text">
            Empanadas Review is a web application that allows you to review your
            favorite empanadas from an specific restaurant! You can add your own empanadas to the database,
            and then view them all.
        </p>
    </div>
    
</div>
