<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <h1>There has been an error!</h1>
        <a href='javascript:history.go(-1)'>Go Back to Previous Page</a>
    </div>
</body>
</html>
